<h1 class="text-center text-white">{{batalla.nombre}}</h1>
<div class="card p-3">
  <div class="card-header text-center bg-transparent">
    <img src="../../../assets/images/piedrapapeltijera.png" class="mx-auto d-block img-fluid" />
    <h1>Tenemos un ganador!</h1>
  </div>
  <div class="card-body text-center">
    <h3>El jugador {{jugadorGanador.nombre}}  es el ganador de esta batalla</h3>
    <div class="mx-auto">
      <img src="../../../assets/images/ganador.jpg" class="mx-auto d-block img-fluid" />
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-lg m-2 btn-block btn-success" (click)="IniciarRevancha()">Revancha</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-lg m-2 btn-block btn-info" [routerLink]="['/']">Nueva Batalla</button>
      </div>
    </div>
  </div>
  <div class="card-footer p-0 pl-1 pr-1">
    <small class="text-muted">ID Batalla: {{idBatalla}}</small>
  </div>  
</div>
